body {
   justify-content: center;
   align-items: center; 
   
   background-image: url(pexels-engin-akyurt-1435752.jpg);
   background-repeat: none;
   background-position: center center;
   background-size: center;
   text-align: center;

}

.conteiner {
    background-color: blueviolet;
    width: 1,3rem;
    padding: 20px;
    border: solid 4px #b2b;
    border-radius: 5px;
    margin: 50px;
    
}

.conteiner1 {
    background-color: black;
    width: 1,3rem;
    padding: 20px;
    border: solid 4px brown;
    border-radius: 5px;
    margin: 50px;

}

.text {
    font-size: 20px;
    color: goldenrod;

}